#{extends 'main.html' /}
#{set title:'Blog' /}

	<nav class="ui secondary pointing menu">
		<a class="ui item" href="/home">Home</a>
	 	<a class="ui item" href="/members">Members</a>
	  	<a class="ui item" href="/profile">Profile</a>
	  	<a class="ui active item" href="/blog">Blog</a>
	  	<div class="right menu">
	  		<a class="ui item" href="/logout"><i class="external icon"></i> Logout </a>
	  	</div>
	</nav>

	<section class="ui left aligned page container">
		#{include "components/displaypost.html" /} 
		#{include "components/displaycomments.html" /}
		#{include "components/createcomment.html" /}
	</section>