#{if post.comments.size() > 0}
	<h3>Comments</h3>
	<div class="ui divider"></div>
	
	#{list items:post.comments.reverse(), as:'comment'}
	<div class="ui grid">
		<div class="row">
			<div class="one wide column">
				<img class="ui small circular image" src="/profile/getpicture/${comment.fromUser.id}">
			</div>
			<div class="fourteen wide column">
				<h3>${comment.fromUser.firstName}</h3>
				<p> 
	      			<strong>${comment.currentDate}</strong> <br />
	      			${comment.content} 
	    		</p>
			</div>
		</div>
	</div>
	<div class="ui divider"></div>
	#{/list}
#{/if}
