<h2>Friends (${user.friendships.size()})</h2>

#{list items:user.friendships, as:'friendship'}
<section class="ui grid">
	<div class="ui left floated twelve wide column">
		<img class="ui middle aligned avatar image" src="/profile/getpicture/${friendship.targetUser.id}">
		<span>
			<a href="/publicprofile/${friendship.targetUser.id}"> ${friendship.targetUser.firstName} ${friendship.targetUser.lastName}</a> 
    		(<a href="/home/drop/${friendship.targetUser.id}">drop</a>)
    	</span>
    </div>
    <div class="ui right floated four wide middle aligned column">
		<span class="ui right aligned ${friendship.targetUser.loggedIn}"><div class="ui circle"></div></span>
	</div>
</section>
#{/list}