<div class="ui four column grid members">
	#{list items: users, as: 'user'}
	<div class="ui center aligned column" style="border-bottom: 2px solid #000">
		<a href="/publicprofile/${user.id}">
			<div class="ui small circular image border-${user.loggedIn}">
				<img src="/profile/getpicture/${user.id}" /> 
			</div>
		</a>
		
		<h3><a href="/publicprofile/${user.id}">${user.firstName} ${user.lastName}</a></h2>  
		<p>${user.statusText}</p>
		
		<a href="/${user.id}/blog"><strong>${user.firstName}'s blog</strong></a> &mid;
		<a href="/members/follow/${user.id}"><i class="add icon"></i><strong>Follow</strong></a>
	</div>
	#{/list}
</div> 

	