<h2>Message Inbox (${user.inbox.size()})</h2>

  #{if user.inbox.size() > 0}
    <table class="ui very basic table" style="color: white !important;">
      <thead>
        <tr>
          <th>From</th>
          <th>Message</th>
        </tr>
      </thead>
      <tbody>
        #{list items:user.inbox, as:'message'}
          <tr>
            <td>
                <img class="ui avatar image" src="/profile/getpicture/${message.from.id}">
                <span><a href="/publicprofile/${message.from.id}"> ${message.from.firstName}</a></span>
            </td>
             <td> 
                ${message.messageText}
              </td>
          </tr>
        #{/list}
      </tbody>
    </table>  
  #{/if} 

