<section class="banner">
	<div class="ui one column grid container">	
		<div class="row">
			<div class="column">
				<h1>&ldquo; ${user.statusText}</h1>
			</div>
			
			<div class="column">
				<!-- Update Status -->
				<div class="ui accordion">
					<div class="title"><i class="write icon"></i>Update Status</div>
					<div class="content">
						<div class="ui form">
							<form class="new-post" action="/profile/changestatus" method="POST">
								<div class="field">
									<input name="statusText" placeholder="Update Status">
								</div>
								<button class="ui button submit icon"><i class="icon edit"></i> Update </button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>