body { background: #000; color: #fff; }
p { line-height: 1.6 !important; }
body, ui.button, .ui.text.container, .ui.input, .ui.form, .ui.menu, h5  { -webkit-font-smoothing: antialiased; font-family: Inconsolata, 'Helvetica Neue'; }
h1, h2, h3, h4, .ui.card>.content>.header, .ui.cards>.card>.content>.header { font-family: Poppins, 'Helvetica Neue';}
.ui.secondary.pointing.menu  { background: transparent; }
.ui.secondary.pointing.menu .item, .ui.secondary.pointing.menu .active.item { padding: 1.5em; color: #fff; }
.ui.secondary.pointing.menu .home.item { font-weight: bold; font-size: 15px; }
.ui.secondary.pointing.menu .active.item { font-weight: bold; }

.ui.container { /* padding-top: 2.5em; */ }
.ui.menu { margin-bottom: 0; }
.profile { margin-bottom: .25em; }
.cover { width: 100%; height: 400px; overflow: hidden; }
.item { margin-bottom: 1.5em; }
.page { margin-top: 3em; }
.true .circle { background: #66CC99; }
.circle {
    background: #D91E18;
    width: 7px;
    height: 7px;
    border-radius: 50%;
}


/* Post form */
.ui.form .new-post input, .ui.form .new-post textarea, .ui.form .new-post button { 
	-webkit-border-radius: 0;
	border-radius: 0; 
	box-shadow: none !important;
	border: none;
	background: #fff;  
	font-size: 15px; 
	font-family: Inconsolata; 
	margin-left: 0;
	padding-left: 0;
}

.ui.form .new-post { margin-top: 2em;  }
.ui.form .new-post button { text-align: left; }
.ui.form .new-post input, .ui.form .new-post input:focus { 
	font-size: 20px; 
	-webkit-border-radius: 0;
	border-radius: 0; 
}

/* Public Blog Page */
.blog-item { padding: 3.6em; border-bottom: 2px solid #000; width: 100%; }
.blog-item a { color: #000; }

.blog-item:nth-child(even) { background: #000; color: #fff; }
.blog-item:nth-child(even) a { color: #fff; }

.blog-item h1 { margin-top: 0; font-size: 30px;  }
.blog-item h5 { font-weight: normal; }


/*------------------------------------*/
/*	Start Page		
/*------------------------------------*/

.start {
	position: absolute;
	width: 100%;
	text-align: center;
	transform: translateY(-50%);
	top: 50%;
	color: #fff;
	font-size: 90px;
}

.start h1 {
	font-size: 90px;
	margin-top: 0;
	font-weight: 500;
	text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
	color: #000;
}

.start h5 {
	margin-bottom: 0;
	font-weight: normal;
	font-size: 20px;
}

/*------------------------------------*/
/*	Home Page		
/*------------------------------------*/

.profile-pic:hover { opacity: 0.6; }

.banner {
	background: white;
	color: black;
	padding: 8em 0;
	border-bottom: 2px solid black;
}

.welcome.banner {
	min-height: 70%;
}

.cover-banner { height: 300px; }


.banner h1 a { 
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.title {
	font-size: 48px;
}

.outline.title span {
	color: #fff;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.messages {
	padding: 6em 0 6em 4em !important;
	border-left: 2px solid black;
}

.friends {
	padding: 6em 4em 6em 0 !important;
}

h2 { margin-bottom: 1.5em; }


	/* Messages */
	
	.ui.table, .ui.table thead th {
		color: #fff;
		border-color: #fff;
		border-size: 2px;
	}
	
	.ui.table thead th {
    	border-bottom: 2px solid #fff;
	}
	
	.ui.table a {
		color: #fff;
		font-weight: bold;
	}
	
/*------------------------------------*/
/*	Home Page		
/*------------------------------------*/

.white {
	padding: 5em 0;
	background: #fff;
	color: #000;
}

	.ui.invert.table, .ui.invert.table thead th {
		color: #000;
		border-color: #000;
		border-size: 2px;
	}
	
	.ui.invert.table thead th {
    	border-bottom: 2px solid #000;
	}
	
	.ui.invert.table a {
		color: #000;
		font-weight: bold;
	}	