#{extends 'main.html' /}
#{set title:'Public Profile Page' /}

	<nav class="ui secondary pointing menu">
		<a class="ui home item" href="/home"><strong>Spacebook</strong></a>
	  	<div class="right menu">
		  	<a class="ui active item" href="/members">Members</a>
		  	<a class="ui item" href="/profile">Profile</a>
		  	<a class="ui item" href="/blog">Blog</a>
		  	<a class="ui item" href="/editprofile"><i class="settings icon"></i></a>
	  		<a class="ui item" href="/logout"><i class="external icon"></i> Logout </a>
	  	</div>
	</nav>

	<!-- Display cover image -->
	#{if user.coverPicture.exists()}
		<div class="cover banner" style="background: url(/profile/getcover/${user.id}) center center; background-size: cover;"> </div>
	#{/if}
	
	#{if user.statusText != null}
	<div class="banner">
	<section class="ui one column grid container">	
		<div class="column">
			<h1 class="outline title">${user.firstName} ${user.lastName}'s <span>profile</span></h1>
			${user.statusText}
		</div>
	</section>
	</div>
	#{/if}
	
	<section class="ui centered grid container">
		<div class="row">
			<!-- Profile -->
			<div class="ui eight wide column friends">
			 	#{include "components/profilesummary.html" /} 
			</div>
			
			<!-- New Message -->
			<div class="ui eight wide column messages">
				#{include "components/newmessage.html" /}
			</div>
		</div>	
	</section>

    
    <section style="background: white; color: black; border-bottom: 2px solid black;">	
	<section class="ui centered grid container">	
			<!-- Friends -->
			<div class="ui eight wide column friends">
			 	#{include "components/comments.html" /} 
			</div>
			
			<div class="ui eight wide column messages">
				<div class="row" style="margin-bottom: 2em;">
					<div class="ui two column grid">
						<div class="column"> <h2>Latest Post</h2> </div>
						<div class="ui right aligned column"> 
							 <button class="ui basic button">
							  <i class="icon external"></i> <a href="/${user.id}/blog">go to blog</a>
							</button>
						</div>
					</div>
				</div>
				<div class="row">
				#{if user.posts.size() > 0}
					#{list items:user.posts[user.posts.size() - 1], as:'post'}
						<h3>${post.title}</h3>
						<h5>${post.currentDate}</h5>
			    		<p>${post.content}</p>
			    	#{/list}
			    #{/if}
			    #{if user.posts.size() == 0}
			    	<p>No posts to display.
			    #{/if}
			    </div>
			</div>
		</section>
	</section>
