#{extends 'main.html' /}
#{set title:'Home' /}

	<nav class="ui secondary pointing menu">
		<a class="ui active item" href="/home">Home</a>
	 	<a class="ui item" href="/members">Members</a>
	  	<a class="ui item" href="/profile">Profile</a>
	  	<a class="ui item" href="/blog">Blog</a>
	  	<div class="right menu">
	  		<a class="ui item" href="/logout"><i class="external icon"></i> Logout </a>
	  	</div>
	</nav>
	
	<section class="ui one column grid container"> 	
		<!-- Display profile image -->	
		
		<!-- Modify profile image -->
		<div class="ui center aligned column">
			<div class="ui accordion">
				<div class="title"><img class="ui centered medium circular image" src="/profile/getpicture/${user.id}"></div>
				<div class="content">
					<form action="/profile/uploadpicture/${user.id}" method="post" enctype="multipart/form-data">    	
						<input type="file" name="picture" /> 
						<input type="submit" name="submit" value="upload" />
					</form>
				</div>
			</div>
		</div> 	
		
		<!-- Status -->
		<div class="ui center aligned column">
			<h1 style="font-size: 48px;"> Welcome,  <a href="/profile" style="color: #ec644b">${user.firstName} ${user.lastName}</a></h1>
			<p><em> ${user.statusText} </em></p>
		</div>
	</section>
		
		<section class="ui centered grid container">
			<!-- Update Status 
			<div class="ui column">				
			<div class="ui accordion">
				<div class="title"> <i class="write icon"></i>Update Status</div>
				<div class="content">
					<div class="ui form">
						<form class="new-post" action="/profile/changestatus" method="POST">
						<div class="field">
							<input name="statusText" placeholder="Update Status">
						</div>
						<button class="ui button submit icon"><i class="icon edit"></i> Update </button>
						</form>
					</div>
				</div>
			</div>
			</div> -->
			<div class="ui five wide column">
				#{include "components/messages.html" /}
			</div>
			
			<!-- Friends -->
			<div class="ui five wide column">
			 	#{include "components/friends.html" /}
			</div>
		</section>