#{extends 'main.html' /}
#{set title:'Blog' /}

	<nav class="ui secondary pointing menu">
		<a class="ui item" href="/home">Home</a>
	 	<a class="ui item" href="/members">Members</a>
	  	<a class="ui item" href="/profile">Profile</a>
	  	<a class="ui active item" href="/blog">Blog</a>
	  	<div class="right menu">
	  		<a class="ui item" href="/logout"><i class="external icon"></i> Logout </a>
	  	</div>
	</nav>

	<section class="ui left aligned container">
		#{list items:user.posts.reverse(), as:'post'}
		<h3> <a href="blog/${post.id}">${post.title}</a></h3>
		    <p> 
		      ${post.content}
		    </p>
		#{/list}
	</section>