<!DOCTYPE html>
<html>
   	<head>
	    <title>#{get 'title' /}</title>
	    <meta charset="utf-8">
	    
	    <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.css">
	    <link href='https://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'>
	    <link href='https://fonts.googleapis.com/css?family=Karla:400,700' rel='stylesheet' type='text/css'>
	    <link rel="stylesheet" href="@{'/public/stylesheets/main.css'}">
	    
	    <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script> 
	    <script src="http://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.js"></script>       
	    
	    <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
  	</head>
  	<body>

    	#{doLayout /}
		
		<script> $('.ui.accordion').accordion(); </script>   
	</body>
</html>
