#{extends 'main.html' /}
#{set title:'Welcome to Spacebook' /}
<section style="background: #000 url(/public/images/intro.png); background-size: cover; height: 100%; width: 100%;"
>
	<nav class="ui secondary pointing menu">
	  	<div class="right menu">
	    	<a class="ui item" href="/signup"> Sign up  </a>
	    	<a class="ui item" href="/login"> Sign in </a>
	  	</div>
	</nav>

	<section class="start">
	<div class="ui two column grid container">
		<div class="ui left aligned column">
			<h5>introducing</h5>
	  		<h1> Spacebook </h1>
	  	</div>
	  	<div class="ui left aligned column">
			<h5>Some of our members' blogs: </h5>
			#{list items: users, as: 'user'}
				#{if user.posts.size() != 0}
					<h5><a href="/${user.id}/blog"> &mdash; ${user.firstName}'s blog</a></h5>
				#{/if}
			#{/list}
	  	</div>
	</div>
	</section>
	
</section>